.hero {
    
    background-image: url('https://i.ytimg.com/vi/vSGt9jQmbA8/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCnJq4TqJ2cgwZbySRe09LchzPIkg');
    background-size: cover;
    background-position: center 40% ;
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: -70px;
}
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.hero__container {
    z-index: 2;
}
.hero h1 {
    font-size: 5em;
    text-transform: uppercase;
    color: $neon-primario;
    text-shadow: 0 0 15px rgba($neon-primario, 0.9);
}
.hero__slogan {
    font-size: 1.8em;
    margin: 15px 0 30px;
}
