$fundo-principal: #000000;
$texto-primario: #ffffff;
$neon-primario: #FF4500; // Laranja/Vermelho (Ação/Fogo)
$neon-secundario: #00FFFF; // Ciano/Azul (Efeito Neon)
$fundo-card: #141414; 
$fundo-footer: #0a0a0a;
$fonte-principal: 'Rajdhani', sans-serif;